PKGNAME=ngx_module_lua
PKGVERSION=0.10.7
PKGREVISION=1
PKGDISTFILE=https://github.com/openresty/lua-nginx-module/archive/lua-nginx-module-0.10.7.tar.gz
PKGDISTFILE_SUM_SHA256=c21c8937dcdd6fc2b6a955f929e3f4d1388610f47180e60126e6dcab06786f77
PKGWORKSUBDIR=lua-nginx-module-0.10.7
USE_CONFIGURE=NO
SKIP_BUILD=YES
PKG_PRE_BUILD_PATCHLIST=""
PKG_LICENCE="BSD"
PKG_MAKE_BUILD_FLAGS=""

PKG_POST_CONFIGURE_SCRIPTS=ngx_makelink
