PKGNAME=ngx_module_ndk
PKGVERSION=0.3.0
PKGREVISION=1
PKGDISTFILE=https://github.com/simpl/ngx_devel_kit/archive/ngx_devel_kit-0.3.0.tar.gz
PKGDISTFILE_SUM_SHA256=88e05a99a8a7419066f5ae75966fb1efc409bad4522d14986da074554ae61619
PKGWORKSUBDIR=ngx_devel_kit-0.3.0
USE_CONFIGURE=YES
SKIP_BUILD=YES
PKG_PRE_BUILD_PATCHLIST=""
PKG_LICENCE="BSD"
PKG_MAKE_BUILD_FLAGS=""

PKG_POST_CONFIGURE_SCRIPTS=ngx_makelink
